<ul class="nav navbar-nav navbar-right responsive-nav main-nav-list">
	<li><a href="/#home">Home</a></li>
	<li><a href="/#focus">Focus</a></li>
	<li><a href="/#aboutus">About Us</a></li>
	<li><a href="/#testimonials">Testimonials</a></li>
	<li><a href="/#careers">Careers</a></li>
	<li><a href="/#contact">Contact</a></li>
</ul>
@{
#warning WFS HELP: Step #1 - add your navigation items in this list above 
}
