<!-- =========================
   PACKAGES SECTION
============================== -->
<section class="packages" id="pricingtable">
	<div class="container">

		<!-- SECTION HEADER -->
		<div class="section-header">

			<!-- SECTION TITLE -->
			<h2 class="white-text">Packages</h2>

			<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
			<h6 class="white-text">
				We have 4 friendly packages for you. Check all the packages and choose the right one for you.
			</h6>
		</div>
		<!-- / END SECTION HEADER -->
		<!-- PACKAGES -->
		<div class="row">

			<!-- FIRST PACKAGE -->
			<div class="col-lg-3 col-sm-3">
				<div class="package wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
					<div class="package-header green-bg">
						<h5>Basic</h5>
					</div>
					<div class="price dark-bg">
						<div class="price-container">
							<h4><span class="dollar-sign">$</span>15</h4><span class="price-meta">
								/ mo
							</span>
						</div>
					</div>
					<ul>
						<li><i class="icon-check"></i>100GB Storage</li>
						<li><i class="icon-check"></i>All Themes</li>
						<li><i class="icon-cancel"></i>Access to Tutorials</li>
						<li><i class="icon-cancel"></i>Auto Backup</li>
						<li><i class="icon-cancel"></i>Extended Security</li>
					</ul>
					<a href="/#" class="btn btn-primary custom-button green-btn">
						Sign Up
					</a>
				</div>
			</div> <!-- / END FIRST PACKAGE -->

			<div class="col-lg-3 col-sm-3">
				<div class="package wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
					<div class="package-header blue-bg">
						<h5>Standard</h5>
					</div>
					<div class="price dark-bg">
						<div class="price-container">
							<h4><span class="dollar-sign">$</span>21 </h4>
							<span class="price-meta">/ Mo</span>
						</div>
					</div>
					<ul>
						<li><i class="icon-check"></i>100GB Storage</li>
						<li><i class="icon-check"></i>All Themes</li>
						<li><i class="icon-cancel"></i>Access to Tutorials</li>
						<li><i class="icon-cancel"></i>Auto Backup</li>
						<li><i class="icon-cancel"></i>Extended Security</li>
					</ul>
					<a href="/#" class="btn btn-primary custom-button blue-btn">
						Sign Up
					</a>
				</div>
			</div>

			<div class="col-lg-3 col-sm-3">
				<div class="best-value">
					<div class="package wow fadeInUp animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
						<div class="package-header red-bg">
							<h4>Premium</h4>
							<div class="meta-text">
								Best Value
							</div>
						</div>
						<div class="price dark-bg">
							<h4><span class="dollar-sign">$</span>53</h4>
							<span class="price-meta">/ mo</span>
						</div>
						<ul>
							<li><i class="icon-check"></i>100GB Storage</li>
							<li><i class="icon-check"></i>All Themes</li>
							<li><i class="icon-cancel"></i>Access to Tutorials</li>
							<li><i class="icon-cancel"></i>Auto Backup</li>
							<li><i class="icon-cancel"></i>Extended Security</li>
						</ul>
						<a href="/#" class="btn btn-primary custom-button red-btn">
							Sign Up
						</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-sm-3">
				<div class="package wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
					<div class="package-header yellow-bg">
						<h5>Ultimate</h5>
					</div>
					<div class="price dark-bg">
						<h4><span class="dollar-sign">$</span>99 </h4>
						<span class="price-meta">/ mo</span>
					</div>
					<ul>
						<li><i class="icon-check"></i>100GB Storage</li>
						<li><i class="icon-check"></i>All Themes</li>
						<li><i class="icon-cancel"></i>Access to Tutorials</li>
						<li><i class="icon-cancel"></i>Auto Backup</li>
						<li><i class="icon-cancel"></i>Extended Security</li>
					</ul>
					<a href="/#" class="btn btn-primary custom-button yellow-btn">
						Sign Up
					</a>
				</div>
			</div>
		</div> <!-- / END PACKAGES -->

	</div> <!--END CONTAINER  -->
</section> <!-- END PACKAGES SECTION -->
