<!-- =========================
   SEPARATOR ONE
============================== -->
<section class="separator-one">
	<div class="color-overlay">
		<h3 class="container text wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			We have 100+ happy customers in last few years. You can check what they're saying about us.
		</h3>
		<div class="wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
			<a href="/" class="btn btn-primary custom-button green-btn">TESTIMONIALS</a>
		</div>
	</div>
</section>  <!-- / END SEPARATOR -->
